In [1]:
import os, sys
os.environ["PYSPARK_PYTHON"] = sys.executable

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Spark for Test").master("local[*]").getOrCreate()
spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/12/18 15:21:30 WARN Utils: Your hostname, yoshimatsu, resolves to a loopback address: 127.0.1.1; using 192.168.86.120 instead (on interface enp0s31f6)
25/12/18 15:21:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/18 15:21:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
yellow_cab = spark.read.option("header", "true").parquet("../data/yellow_tripdata_2025-10.parquet")

In [4]:
yellow_cab.count()

4428699

In [5]:
yellow_cab_sample = yellow_cab.sample(0.0001).toPandas()

In [6]:
yellow_cab_sample.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-10-01 00:41:03,2025-10-01 00:46:19,1.0,1.20,1.0,N,237,229,1,7.2,4.25,0.5,3.25,0.0,1.0,16.20,2.5,0.0,0.75
1,2,2025-10-01 09:47:10,2025-10-01 09:58:43,1.0,1.62,1.0,N,163,68,1,12.1,0.00,0.5,3.37,0.0,1.0,20.22,2.5,0.0,0.75
2,2,2025-10-01 13:52:00,2025-10-01 13:55:13,1.0,0.45,1.0,N,238,239,2,5.1,0.00,0.5,0.00,0.0,1.0,9.10,2.5,0.0,0.00
3,2,2025-10-01 14:14:34,2025-10-01 14:23:44,2.0,0.68,1.0,N,236,237,1,9.3,0.00,0.5,0.66,0.0,1.0,13.96,2.5,0.0,0.00
4,2,2025-10-01 15:55:22,2025-10-01 16:06:00,1.0,1.15,1.0,N,162,237,1,11.4,0.00,0.5,3.23,0.0,1.0,19.38,2.5,0.0,0.75

In [7]:
green_cab = spark.read.option("header", "true").parquet("../data/green_tripdata_2025-10.parquet")

In [8]:
green_cab.count() * 0.01

494.16

In [9]:
green_cab_sample = green_cab.sample(0.01).toPandas()

In [10]:
green_cab_sample.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='object')

In [11]:
yellow_cab_sample.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee',
       'cbd_congestion_fee'],
      dtype='object')

In [12]:
fhvhv = spark.read.option("header", "true").parquet("../data/fhvhv_tripdata_2025-10.parquet")

In [13]:
fhvhv.count() * 0.00002

426.17402000000004

In [14]:
fhvhv_sample = fhvhv.sample(0.00002).toPandas()

In [15]:
fhvhv_sample.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag,cbd_congestion_fee
0,HV0003,B03404,B03404,2025-10-01 00:57:57,2025-10-01 00:58:41,2025-10-01 00:59:43,2025-10-01 01:13:20,65,13,4.54,...,2.75,0.0,4.04,14.60,N,N,N,N,N,1.5
1,HV0003,B03404,B03404,2025-10-01 07:47:44,2025-10-01 07:51:15,2025-10-01 07:52:36,2025-10-01 08:13:03,243,166,5.48,...,0.00,0.0,0.00,20.28,N,N,N,N,N,0.0
2,HV0003,B03404,B03404,2025-10-01 07:40:51,2025-10-01 07:44:55,2025-10-01 07:45:16,2025-10-01 07:54:57,26,26,1.41,...,0.00,0.0,0.00,8.13,N,N,N,N,N,0.0
3,HV0003,B03404,B03404,2025-10-01 09:49:38,2025-10-01 09:56:34,2025-10-01 09:56:34,2025-10-01 10:41:21,87,138,12.34,...,2.75,2.5,19.29,46.81,N,N,N,N,N,1.5
4,HV0003,B03404,B03404,2025-10-01 09:17:10,2025-10-01 09:18:27,2025-10-01 09:20:27,2025-10-01 09:33:17,174,248,4.51,...,0.00,0.0,0.00,14.06,N,N,N,N,N,0.0

In [16]:
fhvhv_sample.columns

Index(['hvfhs_license_num', 'dispatching_base_num', 'originating_base_num',
       'request_datetime', 'on_scene_datetime', 'pickup_datetime',
       'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles',
       'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax',
       'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay',
       'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag',
       'wav_request_flag', 'wav_match_flag', 'cbd_congestion_fee'],
      dtype='object')

In [17]:
green_cab_sample.columns.symmetric_difference(yellow_cab_sample.columns)

Index(['Airport_fee', 'ehail_fee', 'lpep_dropoff_datetime',
       'lpep_pickup_datetime', 'tpep_dropoff_datetime', 'tpep_pickup_datetime',
       'trip_type'],
      dtype='object')

In [18]:
yellow_cab.first()

Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2025, 10, 1, 0, 15, 32), tpep_dropoff_datetime=datetime.datetime(2025, 10, 1, 1, 4, 3), passenger_count=1, trip_distance=17.2, RatecodeID=2, store_and_fwd_flag='N', PULocationID=132, DOLocationID=107, payment_type=1, fare_amount=70.0, extra=5.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=6.94, improvement_surcharge=1.0, total_amount=83.44, congestion_surcharge=2.5, Airport_fee=1.75, cbd_congestion_fee=0.75)

In [19]:
green_cab.first()

Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2025, 10, 1, 0, 21, 47), lpep_dropoff_datetime=datetime.datetime(2025, 10, 1, 0, 24, 37), store_and_fwd_flag='N', RatecodeID=1, PULocationID=247, DOLocationID=69, passenger_count=1, trip_distance=0.7, fare_amount=5.8, extra=1.0, mta_tax=0.5, tip_amount=1.7, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=1.0, total_amount=10.0, payment_type=1, trip_type=1, congestion_surcharge=0.0, cbd_congestion_fee=0.0)

In [20]:
cabs = yellow_cab.unionByName(green_cab, allowMissingColumns=True)

In [21]:
cabs.sample(0.0001).toPandas()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,lpep_pickup_datetime,lpep_dropoff_datetime,ehail_fee,trip_type
0,2,2025-10-01 06:39:59,2025-10-01 06:52:15,1.0,2.36,1.0,N,75,140,1,...,0.0,1.0,21.84,2.50,0.0,0.00,NaT,NaT,NaN,NaN
1,2,2025-10-01 08:01:39,2025-10-01 08:30:31,1.0,3.84,1.0,N,186,87,1,...,0.0,1.0,38.70,2.50,0.0,0.75,NaT,NaT,NaN,NaN
2,7,2025-10-01 10:17:26,2025-10-01 10:17:26,1.0,0.68,1.0,N,230,162,1,...,0.0,1.0,13.50,2.50,0.0,0.75,NaT,NaT,NaN,NaN
3,1,2025-10-01 13:25:57,2025-10-01 13:32:03,1.0,1.00,1.0,N,186,234,3,...,0.0,1.0,12.65,2.50,0.0,0.75,NaT,NaT,NaN,NaN
4,2,2025-10-01 15:15:55,2025-10-01 15:24:07,1.0,0.81,1.0,N,239,239,1,...,0.0,1.0,16.38,2.50,0.0,0.00,NaT,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,2,2025-10-31 16:07:51,2025-10-31 16:40:06,NaN,0.00,NaN,None,137,236,0,...,0.0,1.0,6.15,NaN,NaN,0.75,NaT,NaT,NaN,NaN
481,2,2025-10-31 17:07:10,2025-10-31 17:12:47,NaN,1.11,NaN,None,238,24,0,...,0.0,1.0,1.24,NaN,NaN,0.00,NaT,NaT,NaN,NaN
482,1,2025-10-31 20:42:50,2025-10-31 20:48:10,NaN,0.50,NaN,None,148,79,0,...,0.0,1.0,13.72,NaN,NaN,0.75,NaT,NaT,NaN,NaN
483,1,2025-10-31 23:35:19,2025-11-01 00:24:20,NaN,4.30,NaN,None,158,97,0,...,0.0,1.0,42.44,NaN,NaN,0.75,NaT,NaT,NaN,NaN
484,2,NaT,NaT,1.0,2.64,1.0,N,43,162,1,...,0.0,1.0,26.40,2.75,NaN,0.75,2025-10-04 13:44:41,2025-10-04 14:00:17,NaN,1.0

In [22]:
from pyspark.sql.functions import *

In [23]:
cabs = cabs.withColumn("pickup_datetime", coalesce("tpep_pickup_datetime", "lpep_pickup_datetime")).drop("tpep_pickup_datetime", "lpep_pickup_datetime")
cabs = cabs.withColumn("dropoff_datetime", coalesce("tpep_dropoff_datetime", "lpep_dropoff_datetime")).drop("tpep_dropoff_datetime", "lpep_dropoff_datetime")

In [24]:
cabs.sample(0.0001).toPandas()

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,ehail_fee,trip_type,pickup_datetime,dropoff_datetime
0,2,2.0,0.69,1.0,N,186,170,2,9.3,0.0,...,0.0,1.0,14.05,2.5,0.0,0.75,NaN,NaN,2025-10-01 08:33:31,2025-10-01 08:42:12
1,2,1.0,2.79,1.0,N,231,170,2,23.3,0.0,...,0.0,1.0,28.05,2.5,0.0,0.75,NaN,NaN,2025-10-01 08:47:19,2025-10-01 09:14:01
2,2,1.0,4.14,1.0,N,113,236,1,35.2,0.0,...,0.0,1.0,49.94,2.5,0.0,0.75,NaN,NaN,2025-10-01 11:02:57,2025-10-01 11:44:53
3,2,2.0,1.47,1.0,N,162,140,2,16.3,0.0,...,0.0,1.0,21.05,2.5,0.0,0.75,NaN,NaN,2025-10-01 11:25:56,2025-10-01 11:44:10
4,2,1.0,2.72,1.0,N,141,233,1,18.4,0.0,...,0.0,1.0,27.78,2.5,0.0,0.75,NaN,NaN,2025-10-01 15:43:49,2025-10-01 16:01:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,1,1.0,1.20,1.0,N,21,21,2,8.6,0.0,...,0.0,1.0,10.10,0.0,NaN,0.00,NaN,1.0,2025-10-03 10:25:38,2025-10-03 10:32:45
464,2,1.0,2.65,1.0,N,41,247,1,17.0,0.0,...,0.0,1.0,22.20,0.0,NaN,0.00,NaN,1.0,2025-10-04 15:46:35,2025-10-04 16:03:18
465,2,1.0,2.73,1.0,N,74,116,1,17.7,0.0,...,0.0,1.0,23.04,0.0,NaN,0.00,NaN,1.0,2025-10-11 14:11:29,2025-10-11 14:28:45
466,2,1.0,2.63,1.0,N,95,28,1,13.5,1.0,...,0.0,1.0,18.00,0.0,NaN,0.00,NaN,1.0,2025-10-16 20:42:53,2025-10-16 20:52:45
467,2,6.0,2.04,1.0,N,75,166,1,16.3,0.0,...,0.0,1.0,21.36,0.0,NaN,0.00,NaN,1.0,2025-10-20 15:19:32,2025-10-20 15:35:33

In [25]:
cabs.filter(col("total_amount").isNull()).count()

0

In [26]:
cabs.first()

Row(VendorID=1, passenger_count=1, trip_distance=17.2, RatecodeID=2, store_and_fwd_flag='N', PULocationID=132, DOLocationID=107, payment_type=1, fare_amount=70.0, extra=5.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=6.94, improvement_surcharge=1.0, total_amount=83.44, congestion_surcharge=2.5, Airport_fee=1.75, cbd_congestion_fee=0.75, ehail_fee=None, trip_type=None, pickup_datetime=datetime.datetime(2025, 10, 1, 0, 15, 32), dropoff_datetime=datetime.datetime(2025, 10, 1, 1, 4, 3))

In [27]:
cabs = cabs.withColumn(
    "payment_type", 
    when(col("payment_type") == 5, None).otherwise(col("payment_type")))

In [28]:
cabs.filter(col("payment_type")==5).count()

0

In [29]:
cabs = cabs.withColumn(
    "RatecodeID",
    when(col("RatecodeID") == 99, None).otherwise(col("RatecodeID")))

In [30]:
cabs.filter(col("RatecodeID").isNull()).count()

1099363

In [31]:
cabs = cabs.withColumn(
        "Airport_fee",
        when(col("Airport_fee").isNull(), 0.0)
        .otherwise(col("Airport_fee"))
    )

In [32]:
cabs.filter(col("Airport_fee")==0).count()

4166333

In [33]:
cabs = cabs.withColumn(
        "congestion_surcharge",
        when(col("congestion_surcharge").isNull(), 0.0)
        .otherwise(col("congestion_surcharge"))
    )

In [34]:
cabs.filter(col("congestion_surcharge")==0).count()

1367354

In [35]:

for c in cabs.columns:
    n_nulls = cabs.filter(col(c).isNull()).count()
    print(f"{c}: {n_nulls}")

VendorID: 0
passenger_count: 995902
trip_distance: 0
RatecodeID: 1099363
store_and_fwd_flag: 995902
PULocationID: 0
DOLocationID: 0
payment_type: 5016
fare_amount: 0
extra: 0
mta_tax: 0
tip_amount: 0
tolls_amount: 0
improvement_surcharge: 0
total_amount: 0
congestion_surcharge: 0
Airport_fee: 0
cbd_congestion_fee: 0
ehail_fee: 4478115
trip_type: 4433716
pickup_datetime: 0
dropoff_datetime: 0

In [36]:
cabs_deduped = cabs.dropDuplicates()
duplicate_count = cabs.count() - cabs_deduped.count()

In [37]:
duplicate_count

0

In [38]:
cabs = cabs.withColumn(
    "weekday_num",
    dayofweek(col("pickup_datetime"))
)

In [39]:
cabs.first()

Row(VendorID=1, passenger_count=1, trip_distance=17.2, RatecodeID=2, store_and_fwd_flag='N', PULocationID=132, DOLocationID=107, payment_type=1, fare_amount=70.0, extra=5.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=6.94, improvement_surcharge=1.0, total_amount=83.44, congestion_surcharge=2.5, Airport_fee=1.75, cbd_congestion_fee=0.75, ehail_fee=None, trip_type=None, pickup_datetime=datetime.datetime(2025, 10, 1, 0, 15, 32), dropoff_datetime=datetime.datetime(2025, 10, 1, 1, 4, 3), weekday_num=4)

In [40]:
cabs = cabs.withColumn(
    "trip_duration",
    expr("timestampdiff(SECOND, pickup_datetime, dropoff_datetime)")
)

In [41]:
cabs.first()

Row(VendorID=1, passenger_count=1, trip_distance=17.2, RatecodeID=2, store_and_fwd_flag='N', PULocationID=132, DOLocationID=107, payment_type=1, fare_amount=70.0, extra=5.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=6.94, improvement_surcharge=1.0, total_amount=83.44, congestion_surcharge=2.5, Airport_fee=1.75, cbd_congestion_fee=0.75, ehail_fee=None, trip_type=None, pickup_datetime=datetime.datetime(2025, 10, 1, 0, 15, 32), dropoff_datetime=datetime.datetime(2025, 10, 1, 1, 4, 3), weekday_num=4, trip_duration=2911)

In [42]:
cabs = cabs.withColumn(
    "total_taxes",
    col("total_amount") - col("fare_amount")
)

In [43]:
cabs.first()

Row(VendorID=1, passenger_count=1, trip_distance=17.2, RatecodeID=2, store_and_fwd_flag='N', PULocationID=132, DOLocationID=107, payment_type=1, fare_amount=70.0, extra=5.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=6.94, improvement_surcharge=1.0, total_amount=83.44, congestion_surcharge=2.5, Airport_fee=1.75, cbd_congestion_fee=0.75, ehail_fee=None, trip_type=None, pickup_datetime=datetime.datetime(2025, 10, 1, 0, 15, 32), dropoff_datetime=datetime.datetime(2025, 10, 1, 1, 4, 3), weekday_num=4, trip_duration=2911, total_taxes=13.439999999999998)

In [44]:
h = hour(col("pickup_datetime"))

cabs = cabs.withColumn(
    "hour_bucket",
    when(h.between(0, 6), 0)
        .when(h.between(7, 12), 1)
        .when(h.between(13, 18), 2)
        .when(h.between(19, 23), 3)
)

In [45]:
cabs.first()

25/12/18 15:22:15 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Row(VendorID=1, passenger_count=1, trip_distance=17.2, RatecodeID=2, store_and_fwd_flag='N', PULocationID=132, DOLocationID=107, payment_type=1, fare_amount=70.0, extra=5.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=6.94, improvement_surcharge=1.0, total_amount=83.44, congestion_surcharge=2.5, Airport_fee=1.75, cbd_congestion_fee=0.75, ehail_fee=None, trip_type=None, pickup_datetime=datetime.datetime(2025, 10, 1, 0, 15, 32), dropoff_datetime=datetime.datetime(2025, 10, 1, 1, 4, 3), weekday_num=4, trip_duration=2911, total_taxes=13.439999999999998, hour_bucket=0)