In [1]:
import os, sys
os.environ["PYSPARK_PYTHON"] = sys.executable

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Spark for Test").master("local[*]").getOrCreate()
spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/12/17 11:38:02 WARN Utils: Your hostname, yoshimatsu, resolves to a loopback address: 127.0.1.1; using 192.168.86.120 instead (on interface enp0s31f6)
25/12/17 11:38:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/17 11:38:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
yellow_cab = spark.read.option("header", "true").parquet("../data/yellow_tripdata_2025-10.parquet")

In [13]:
yellow_cab.count()

4428699

In [16]:
yellow_cab_sample = yellow_cab.sample(0.0001).toPandas()

In [26]:
yellow_cab_sample.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-10-01 07:22:18,2025-10-01 07:28:27,1.0,1.21,1.0,N,249,231,1,8.6,0.00,0.5,3.34,0.0,1.0,16.69,2.5,0.0,0.75
1,1,2025-10-01 08:24:51,2025-10-01 08:46:22,1.0,1.80,1.0,N,262,238,1,18.4,2.50,0.5,2.00,0.0,1.0,24.40,2.5,0.0,0.00
2,1,2025-10-01 08:01:36,2025-10-01 09:13:35,1.0,9.30,99.0,N,76,231,1,33.5,0.00,0.5,0.00,0.0,0.0,34.00,0.0,0.0,0.00
3,1,2025-10-01 11:03:10,2025-10-01 11:19:01,1.0,2.80,1.0,N,90,13,1,16.3,3.25,0.5,6.30,0.0,1.0,27.35,2.5,0.0,0.75
4,2,2025-10-01 12:48:25,2025-10-01 12:52:42,1.0,0.31,1.0,N,236,263,1,5.8,0.00,0.5,1.96,0.0,1.0,11.76,2.5,0.0,0.00

In [20]:
green_cab = spark.read.option("header", "true").parquet("../data/green_tripdata_2025-10.parquet")

In [22]:
green_cab.count() * 0.01

494.16

In [23]:
green_cab_sample = green_cab.sample(0.01).toPandas()

In [28]:
green_cab_sample.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='object')

In [29]:
yellow_cab_sample.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee',
       'cbd_congestion_fee'],
      dtype='object')

In [30]:
fhvhv = spark.read.option("header", "true").parquet("../data/fhvhv_tripdata_2025-10.parquet")

In [33]:
fhvhv.count() * 0.00002

426.17402000000004

In [34]:
fhvhv_sample = fhvhv.sample(0.00002).toPandas()

In [35]:
fhvhv_sample.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag,cbd_congestion_fee
0,HV0003,B03404,B03404,2025-10-01 06:00:54,2025-10-01 06:08:26,2025-10-01 06:08:46,2025-10-01 06:43:31,225,132,11.380,...,0.0,2.5,0.0,37.03,N,N,N,N,N,0.0
1,HV0005,B03406,None,2025-10-01 10:03:48,2025-10-01 10:08:14,2025-10-01 10:09:14,2025-10-01 11:02:18,25,132,12.802,...,0.0,2.5,0.0,50.97,N,N,N,N,N,0.0
2,HV0005,B03406,None,2025-10-01 12:39:39,2025-10-01 12:43:06,2025-10-01 12:43:40,2025-10-01 12:57:02,47,126,3.098,...,0.0,0.0,0.0,12.68,N,N,N,N,N,0.0
3,HV0003,B03404,B03404,2025-10-01 16:32:17,2025-10-01 16:34:09,2025-10-01 16:34:10,2025-10-01 16:40:21,42,116,1.120,...,0.0,0.0,0.0,5.46,N,N,N,N,N,0.0
4,HV0003,B03404,B03404,2025-10-01 18:33:54,2025-10-01 18:38:40,2025-10-01 18:38:56,2025-10-01 19:06:54,173,7,3.570,...,0.0,0.0,0.0,22.86,N,N,N,N,N,0.0

In [36]:
fhvhv_sample.columns

Index(['hvfhs_license_num', 'dispatching_base_num', 'originating_base_num',
       'request_datetime', 'on_scene_datetime', 'pickup_datetime',
       'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles',
       'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax',
       'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay',
       'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag',
       'wav_request_flag', 'wav_match_flag', 'cbd_congestion_fee'],
      dtype='object')

In [41]:
green_cab_sample.columns.symmetric_difference(yellow_cab_sample.columns)

Index(['Airport_fee', 'ehail_fee', 'lpep_dropoff_datetime',
       'lpep_pickup_datetime', 'tpep_dropoff_datetime', 'tpep_pickup_datetime',
       'trip_type'],
      dtype='object')

In [42]:
yellow_cab.first()

Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2025, 10, 1, 0, 15, 32), tpep_dropoff_datetime=datetime.datetime(2025, 10, 1, 1, 4, 3), passenger_count=1, trip_distance=17.2, RatecodeID=2, store_and_fwd_flag='N', PULocationID=132, DOLocationID=107, payment_type=1, fare_amount=70.0, extra=5.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=6.94, improvement_surcharge=1.0, total_amount=83.44, congestion_surcharge=2.5, Airport_fee=1.75, cbd_congestion_fee=0.75)

In [43]:
green_cab.first()

Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2025, 10, 1, 0, 21, 47), lpep_dropoff_datetime=datetime.datetime(2025, 10, 1, 0, 24, 37), store_and_fwd_flag='N', RatecodeID=1, PULocationID=247, DOLocationID=69, passenger_count=1, trip_distance=0.7, fare_amount=5.8, extra=1.0, mta_tax=0.5, tip_amount=1.7, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=1.0, total_amount=10.0, payment_type=1, trip_type=1, congestion_surcharge=0.0, cbd_congestion_fee=0.0)